<h1> Les arbres de décision</h1>

Un arbre de décision est un schéma représentant les résultats possibles d'une série de choix interconnectés.

Il permet d'évaluer différentes actions possibles en fonction de leur coût, leur probabilité, de leurs bénéfices. 

Il peut être utilisé  pour générer un algorithme qui détermine le meilleur choix de façon mathématique.

<img src="decisionTree.png">

In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

from os import system
# On désigne le chemin vers l'exe de graphViz
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

In [2]:
# On importe les données
dataset = pd.read_csv('titanic.csv')
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Premier tri
dataset.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked','Fare'],axis='columns',inplace=True)

In [4]:
#Separation
Features = dataset.drop('Survived',axis='columns')
y = dataset.Survived
Features.head()
#Features.shape

   Pclass     Sex   Age
0       3    male  22.0
1       1  female  38.0
2       3  female  26.0
3       1  female  35.0
4       3    male  35.0

In [5]:
# Ajustement des features
Features.Sex = Features.Sex.map({'male': 1, 'female': 2})
Features.Age = Features.Age.fillna(Features.Age.mean())
Features.head()

   Pclass  Sex   Age
0       3    1  22.0
1       1    2  38.0
2       3    2  26.0
3       1    2  35.0
4       3    1  35.0

<h3>Construire le Modèle d'arbre de décision</h3>

In [6]:
#Création jeu de train et de test

X_train, X_test, y_train, y_test = train_test_split(Features,y,test_size=0.1)
modelTree = tree.DecisionTreeClassifier(random_state=0, criterion='gini',max_depth=6 )
modelTree.fit(X_train,y_train)
accuracyTreeReel = modelTree.score(X_test,y_test)
accuracyTreeTrain = modelTree.score(X_train,y_train)

print('Accuracy Arbre x_test: ', accuracyTreeReel)
print('Accuracy Arbre x_train: ', accuracyTreeTrain)

Accuracy Arbre x_test:  0.7777777777777778
Accuracy Arbre x_train:  0.8339575530586767

<h3>Pour le fun comparons avec une régression logistique</h3>

In [7]:
modelRl = LogisticRegression(random_state = 0, solver='newton-cg')
modelRl.fit(X_train,y_train)
accuracyRlReel = modelRl.score(X_test,y_test)
accuracyRlTrain = modelRl.score(X_train,y_train)

print('Accuracy RL x_test: ', accuracyRlReel)
print('Accuracy RL x_train : ', accuracyRlTrain)

Accuracy RL x_test:  0.7888888888888889
Accuracy RL x_train :  0.8002496878901373

<h3> On génére une image de notre arbre</h3>

In [16]:
dotfile = open("test.dot", 'w')
tree.export_graphviz(modelTree, out_file=dotfile, 
                      feature_names=['Pclass','Genre','Age'],  
                      class_names =['Mort','Vivant'],
                      filled=True, rounded=True,  
                      special_characters=True)  

dotfile.close()
system("dot -Tpng test.dot -o dtree2.png")

sh: dot: command not found

32512

In [14]:
brew install graphviz

SyntaxError: invalid syntax (797003321.py, line 1)

<img src='dtree2.png'>

<h3>Nouvelle prédiction</h3>

In [9]:
#Prédiction test
modelTree.predict([[1,1,54]])

/Users/liamsi/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])